input {
	margin: 5px 0;
}
label {
	font-family: "Microsoft YaHei";
    font-size: 14px;
}
input.submit{
	display: block;
	text-align: center;
	margin: 5px 0 0 300px;
	font-weight: bold;
	font-family: "Microsoft YaHei";
}
section#newpost h3{
    width: 80%;
    font-family: "Microsoft YaHei";
	background-color: #A3B8CD;
	color: #FFFFFF;
	font-weight: normal;
}