<section class="comment">
    <p><%= @comment.description %></p>
    <footer>
        <p><%= @comment.user %> <%= @comment.created_at.localtime.strftime("%A %B %d %X %Z %Y")  %></p>
    </footer>
</section>