body{
	width: 900px;
	margin: 15px auto;
	font-family: "Times New Roman", Arial, "MS Trebuchet";
}

p{
	margin: 0 0 15px;
}

p,li{
	line-height: 20px;
}

header#page_header{
	width: 100%;
	background-color: #A3B8CD;
	color: #FFFFFF;
	font-weight: normal;
}

header#page_header h1{
	margin-left: 10px;
}
section#posts{
	float: left;
	width: 70%;
}

section#sidebar{
	float: left;
	width: 26%;
	background-color: #e5ebf2;
	margin-left: 26px;
	margin-right: 6px;
}
section#sidebar h3{
	margin-left: 10px;
	margin-right: 10px; 
	background-color: #A3B8CD;
	color: #FFFFFF;
	font-weight: normal;
}
header#page_header nav ul, footer#page_footer nav ul{
	list-style:none;
	margin: 5px ;
	padding: 0;
}
#page_header nav ul li{
	display: inline;
	padding: 0;
	margin: 0 20px 0 0;
}
	
footer#page_footer{
	clear: both;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 100px;
}
