// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


section#comments, section#postcomments{
	clear: both;
    width: 70%;
    font-family: "Microsoft YaHei";
    font-size: 14px;
/*    text-align: center;*/
}
section#comments h3, section#postcomments h3{
	background-color: #A3B8CD;
	color: #FFFFFF;
	font-weight: normal;
}
.comment{
	border-style: solid;
	border-color: #FFFFFF #FFFFFF #A3B8CD;
	border-width: 1px;
	margin-top: 10px;
}
.comment p{
   line-height: 5px;
}
.comment footer{
	text-align: right;
	font-size: 12px;
	color: #7f90a0;
}

input.text {
    width: 170px;
    margin: 5px 0 5px;
}
input.submit {
    margin-top: 10px;
    font-weight: bold;
}