<!DOCTYPE html>
<html>
<head>
  <title>Flashsky Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="page_header">
      <h1>Welcome to Flashsky Blog!</h1>
  </header>

  <%= yield %>
  
  <footer id="page_footer">
    <p>&copy; 2014 FlashskyCo.</p>
    <nav>
      <ul>
      </ul>
    </nav>
  </footer>
</body>
</html>